.phylocanvas {
  height: 1300px;
}

.ghost-box {
  background-color: darkseagreen;
  width: 250px;
  text-align: center;
  min-width: 250px;
}

.phylo-container {
  overflow: auto;
  height: 100vh;
  padding-top: 90px;
}
